# node_modules
node_modules/

# build output
.next/
out/

# TypeScript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/IDE 관련
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/

# npm/yarn lock (선택)
# package-lock.json
# yarn.lock

# test coverage
coverage/
